body {
    overflow: hidden;

}
#homeTop{
     border-bottom: 20px solid white;
     border-right: 20px solid white;
     border-left: 20px solid white;
     background-image: url("skybackground.jpeg");
     height:300px;
     width: windowWidth;
}
#homeBottom{
     border-bottom: 20px solid white;
     border-right: 20px solid white;
     border-left: 20px solid white;
     background-image: url("YosemiteNationalPark.jpg");
     height:500px;
     width: windowWidth;
}
#searchBar {
    text-align:center;
    margin-top: 180px;
    color: black;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    font-family: georgia; 
}


#search {
    opacity: 0.7;
}
#search:hover {
    opacity: 1.0;
}

#browseParks {
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    margin-top: 100px;
    font-family: Georgia;
}

#buttonBrowse {
    text-align: center;
    color: black;
    padding:5px;
}

.userImg{
    border: 2px solid blanchedalmond;
    border-radius: 50%;
    width:150px;
    height:150px;
    padding:4px;
    margin: 0 auto;
    background-color: rebeccapurple;
}

.userImg{
    border: 2px solid blanchedalmond;
    border-radius: 50%;
    width:150px;
    height:150px;
    padding:4px;
    margin: 0 auto;
    background-color: rebeccapurple;

    /*Rainbow effect taken from https://codepen.io/nohoid/pen/kIfto*/
    background: linear-gradient(90deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    animation: rainbow 18s ease infinite;
}

.g-signin2{
    position: absolute;
    top: 50%;
    left: 50%;
}

.signOut{
    position: absolute;
    right: 10px;
    color:white;
}

img{
    border-radius: 50%;
    width:150px;
}

.userData{
    width: 200px;
    margin: 0 auto;
}

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.hidden{
    display: none;
}